<div class="container-fluid">
    <div class="row">
        <header class="bg-sucess p-3">
            <h1>PRODUCTOS ACTUALIZADOS</h1>
        </header>
    </div>
        <div class="listContainer my-5">
        <h3>LISTA DE PRODUCTOS:</h3>
        <table class="productTable table">
            <thead>
                <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Codigo</th>
                <th>Stock</th>
                </tr>
                {{#each products}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.category}}</td>
                    <td>${{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                </tr>
                {{/each}}
            </thead>
        </table>
    </div>
</div>