<div class="container-fluid">
    <div class="row">
        <nav class="bg-success p-3 navbar">
            <h1>USUARIOS</h1>
        </nav>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Mail</th>
                    <th>Rol</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{this.firstName}}</td>
                    <td>{{this.lastName}}</td>
                    <td>{{this.email}}</td>
<td>
    <p>Rol actual: {{this.role}}</p>
    <form action="/api/users/updaterole/{{this._id}}" method="post">
      <label for="newRole">Nuevo Rol:</label>
      <select name="role" id="newRole">
        <option value="user">User</option>
        <option value="admin">Admin</option>
        <option value="premium">Premium</option>
      </select>
      <button type="submit">Actualizar Rol</button>
    </form>
</td>

                    <td>   <button class="delete-button" data-user-id="{{this._id}}">Eliminar</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
<a href="/logout" class="btn btn-danger m-2"><i class="fas fa-sign-out-alt"></i>Salir</a>


<script>

    document.addEventListener('click', async (event) => {
  if (event.target.classList.contains('delete-button')) {
    const userId = event.target.getAttribute('data-user-id');
    
    try {
      const response = await fetch(`/api/users/${userId}`, {
        method: 'DELETE',
      });

      if (response.ok) {
        location.reload(); 
      } else {
    
        console.error('Error al eliminar el producto.');
      }
    } catch (error) {
      console.error('Error al enviar la solicitud DELETE:', error);
    }
  }
})

  
</script>

<script>

document.addEventListener('change', (event) => {
  if (event.target.classList.contains('form-select')) {
    event.preventDefault(); // Evitar que se envíe el formulario automáticamente al cambiar la selección
    const form = event.target.closest('.role-select-form');
    if (form) {
      form.submit();
    }
  }
});










</script>